<!-- twitter cards from twittercard.html -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.twitter }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.name }}{% endif %}">
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | xml_escape }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:creator" content="@{{ site.twitter }}">
<meta name="twitter:image:src" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}https://www.puppy-snuggles.com/images/family-snuggling-with-dog.jpg{% endif %}">
<meta name="twitter:domain" content="www.puppy-snuggles.com">
