---
layout: default
title: Puppy Snuggles Blog
permalink: /blog/
---

<style>
#container, .inner {
	max-width: 100%;
	width: 100%
}

ul {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}
	
ul li {
	display: inline-block;
	margin: 1em;
	width: 300px;
	height: 200px;
	overflow: hidden;
	padding: 0;
	
}
	
li:hover {
	 transform: scale(1.1);
}
	
h3 {
	margin: 0;
	font-size: 1em;
	display: inline;
}
	
h3 + span {
	font-size: 0.8em;
	white-space: nowrap;
}
	
ul a {
	color: #6d6d6d;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.affliate-image,
.post-image {
	width: 100%;
	height: 100px;
}

.post-image {
	background-size: 100%;
}

.affliate-image {
 	background-repeat: repeat-x;
}
	
figcaption {
	text-align: left;
}	
</style>

<ul>{% assign productindex = 0 %}
{% for post in site.posts %}
<a href="{{ site.url }}{{ post.url }}"><li>
<figure>
<div class="post-image" style="background-image: url({{ site.url }}/{{ post.path | replace_first: '_posts','images/covers/small' | replace: '.md','.png'}})"></div>
<figcaption>
<h3>{{ post.title }}</h3>
<span>{{ post.date | date: "%B %e, %Y" }}</span>
<div>{{ post.excerpt | strip_html }}</div>
</figcaption>
</figure>
</li></a>{% capture modulo %}{{ forloop.index | modulo:5 }}{% endcapture %}
{% if modulo == '0' %}
<li>
<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "puppy-post-list-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "{{ site.data.amazon-products[productindex].name }}";
amzn_assoc_linkid = "ed0908073ada6b3a1390942db5f3d743";
amzn_assoc_asins = "{{ site.data.amazon-products[productindex].asin }}";
amzn_assoc_size = "300xauto";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
</li>{% assign productindex = productindex | plus:1 | modulo:site.data.amazon-products.size  %}
{% endif %}{% endfor %}
</ul>
