---
layout: default
title: Puppy Snuggles Blog
permalink: /blog/
---

<style>
#container, .inner {
	max-width: 100%;
	width: 100%
}

ul {
	list-style: none;
	text-align: center;
	margin: 0 auto;
}
	
ul li {
	display: inline-block;
	margin: 1em;
	width: 300px;
	height: 200px;
	overflow: hidden;
	padding: 0;
	
}
	
li:hover {
	 transform: scale(1.1);
}
	
h3 {
	margin: 0;
	font-size: 1em;
	display: inline;
}
	
h3 + span {
	font-size: 0.8em;
	white-space: nowrap;
}
	
ul a {
	color: #6d6d6d;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.affliate-image,
.post-image {
	width: 100%;
	height: 100px;
}

.post-image {
	background-size: 100%;
}

.affliate-image {
 	background-repeat: repeat-x;
}
	
figcaption {
	text-align: left;
}	
</style>

<ul>{% assign productindex = 0 %}
{% for post in site.posts %}
<a href="{{ site.url }}{{ post.url }}"><li>
<figure>
<div class="post-image" style="background-image: url({{ site.url }}/{{ post.path | replace_first: '_posts','images/covers/small' | replace: '.md','.png'}})"></div>
<figcaption>
<h3>{{ post.title }}</h3>
<span>{{ post.date | date: "%B %e, %Y" }}</span>
<div>{{ post.excerpt | strip_html }}</div>
</figcaption>
</figure>
</li></a>{% capture modulo %}{{ forloop.index | modulo:5 }}{% endcapture %}
{% if modulo == '0' %}
<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=12&l=ur1&category=pets&banner=1GATCH7P5CSS9YKCZD02&f=ifr&linkID=f46d326ee4ae7924e79ddae2bb47961c&t=puppy-post-list-20&tracking_id=puppy-post-list-20" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
{% endif %}{% endfor %}
</ul>
