---
layout: default-new
permalink: /indexnew/
mainimage: https://www.puppy-snuggles.com/images/family-snuggling-with-dog.jpg?test
---

<div class="front-page-links">
{% for link in site.frontpagelinks %}
<div>
  <a href="{{ link.url }}"><img src="{{ site.url }}{{ link.img }}" alt="{{ link.title }}" /></a>
  <span>
    <a href="{{ link.url }}"><h2>{{ link.title }}</h2></a>
    <p>{{ link.description }}{% if link.title == "Blog" %}</p>
    <p>The most recent post is <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a>!{% endif %}</p>
  </span>
</div>
{% endfor %}
<div style="margin: 0 auto; max-width: 750px;">
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=034be2ed-b5e7-4a0d-9060-70acfdcbe9ea"></script>
</div>
</div>
