---
layout: default
title: Puppy Snuggles Blog
permalink: /blog/
---

<ul class="post-list">{% assign productindex = 0 %}
{% for post in site.posts %}
<a href="{{ site.url }}{{ post.url }}"><li>
<figure>
<div class="post-image" style="background-image: url({{ site.url }}/{{ post.path | replace_first: '_posts','images/covers/small' | replace: '.md','.png'}})"></div>
<figcaption>
<h3>{{ post.title }}</h3>
<span>{{ post.date | date: "%B %e, %Y" }}</span>
<div>{{ post.excerpt | strip_html }}</div>
</figcaption>
</figure>
</li></a>{% capture modulo %}{{ forloop.index | modulo:5 }}{% endcapture %}
{% if modulo == '0' %}
<li>

</li>{% assign productindex = productindex | plus:1 | modulo:site.data.amazon-products.size  %}
{% endif %}{% endfor %}
</ul>
