<h2 itemprop="headline">{% if include.post %}<a href="{{ include.post.url }}">{% endif %}{% if include.post.title %}{{ include.post.title }}{% else %}{{ page.title }}{% endif %}{% if include.post %}</a>{% endif %}</h2>
<hr class="post-info" />
<div class="post-info">
<div class="author-and-date">
<span itemprop="datePublished" content="{{ include.post.date | date: "%Y-%m-%d" }}{{ page.date | date: "%Y-%m-%d" }}" class="date">
{{ include.post.date | date: "%B %e, %Y" }}{{ page.date | date: "%B %e, %Y" }}
</span>
<meta itemprop="dateModified" content="{% if include.post.updated or page.updated %}{{ include.post.updated }}{{ page.updated }}{% else %}{{ include.post.date | date: "%Y-%m-%d" }}{{ page.date | date: "%Y-%m-%d" }}{% endif %}" />
{% if include.post.author or page.author %}<span>by {% if include.post.author-url or page.author-url %}
<a href="{{ include.post.author-url }}{{ page.author-url }}">{% endif %}
{{ include.post.author }}{{ page.author }}{% if include.post.author-url or page.author-url %}
</a>{% endif %}{% endif %}
</span>
</div>
<div class="post-tags">
{% if include.post.tags %}{% assign tags = include.post.tags | sort %}{% endif %}
{% if page.tags %}{% assign tags = page.tags | sort %}{% endif %}
{% if tags %}{% for tag in tags %}<span>{{ tag }}</span>{% endfor %}}{% endif %}
</div>
</div>
<hr class="post-info" />
