{% if include.post %}{% assign title = include.post.title %}{% assign date = include.post.date %}{% if include.post.updated %}{% assign updated = include.post.updated %}{% else %}{% assign updated = include.post.date %}{% endif %}{% assign author = include.post.author %}{% assign author-url = include.post.author-url %}{% assign tags = include.post.tags | sort %}{% else %}{% assign title = page.title %}{% assign date = page.date %}{% if page.updated %}{% assign updated = page.updated %}{% else %}{% assign updated = page.date %}{% endif %}{% assign author = page.author %}{% assign author-url = page.author-url %}{% assign tags = page.tags | sort %}{% endif %}
<h1 itemprop="headline">{{ title }}</h1>
<div class="post-info">
<div class="author-and-date">
<span itemprop="datePublished" content="{{ date | date: "%Y-%m-%d" }}" class="date">{{ date | date: "%B %e, %Y" }}</span>
<meta itemprop="dateModified" content="{{ updated | date: "%Y-%m-%d" }}" />
{% if author %}<span>by {% if author-url %}{% unless include.post %}
<a href="{{ author-url }}">{% endunless %}{% endif %}
<span itemprop="author" itemscope itemtype="http://schema.org/Person">
<span itemprop="name">{{ author }}</span>
</span>
{% if author-url %}{% unless include.post %}</a>{% endunless %}{% endif %}{% endif %}
</span>
</div>
<div class="post-tags">
  {% if tags %}<span>{% for tag in tags %}<a href="/tags/#{{ tag | replace:' ','-' }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
</div>
</div>
