section.comments {
  background: #f2f2f2;
  padding: 20px;

  article.comment-body {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  
  .comment-list {
    list-style-type: none;
	padding: 0;
	margin: 0;
	
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

    img.avatar {
      float: left;
      height: 80px;
      width: 80px;
      margin: 0 10px 10px 0px;
    }
    
    .author-name {
      color: #303030;
      font-size: 20px;
      font-weight: bold;
    }
	
	a {
	  text-decoration: none;
	}
	
	a .author-name {
	  color: #d5000d;
	}

    time {
      font-size: small;
      color: black;
      font-weight: 700;
    }

    .comment-content {
      clear: left;
    }
  }
  
  .comment-list.top {
    
  }
}

.new-comment {
  label, textarea, input, button {
      display: block;
  }
  
  textarea, input {
    width: 100%;
  }
  
  input {
    max-width: 25em;
  }
}