blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;

  strong {
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
  }

  em {
    display: block;
    margin-left: 2em;
  }
}
