blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;
  border-left: 10px solid #e9e9e9;
}

blockquote em {
  display: block;
  margin-left: 2em;
}
