blockquote, q {
	quotes: none;
	border-left: 10px solid #ccc;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

blockquote + blockquote {
  border-top: 1px solid lightgrey;
  padding-top: 30px;
}

blockquote {
  padding: 0 0 0 30px;
  margin-bottom: 20px;

  strong {
    float: left;
    font-size: 50px;
    line-height: 50px;
    padding-right: 0.25em;
    width: 60px;
    text-align: right;
  }

  em {
    display: block;
    margin-left: 2em;
  }
}
