section {
  article {
    max-width: 750px;
    margin: 0 auto;
    
    h1 {
      font-size: 30px;
      padding: 0.5em 0;
    }
    
    h2 a {
      text-decoration: none;
    }
      
    a {
      color: red;
    }
    
    .post-info {
      font-size: 90%;
      padding: 0.5em;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    
      .author-and-date {
        display: inline-block;
      }
    
      .post-tags {
        float: right;
      }
    }
    
    p, li {
      line-height: 1.5;
    }
  
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    img + em {
      text-align: center;
      display: block;
    }
  }
}
