@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

.mobile-only {
  display: none;
}

@include mobile {
  h2, h3, h4 {
    text-align: center;
  }
  
  iframe {
    margin: 0 auto;
    display: block; 
  }
  
  .mobile-hide {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}
