@mixin mobile {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

.mobile-only {
  display: none;
}

@include mobile {
  .mobile-hide {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}
