.share-block {
	position: fixed;
	left: 10px;
	white-space: nowrap;
	overflow: visible;
	
	@include mobile {
		position: initial;
	}
}

.share {
	padding: 0 0.5em;
	width: 2.5em;
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	
	@include mobile {
		display: inline-block;
		width: 1.5em;
	}
}

.share:hover {
	width: 100%;
	
	@include mobile {
		width: initial;
	}
}

.full-name {
	display: none;	
}

.share-block a:hover {
	.fa {
		display: none;	
	}
	
	.full-name {
		display: inherit;
	}
}

.share.facebook {
	background-color: #3B5998;
}

.share.twitter {
	background-color: #1DA1F2;
}

.share.pinterest {
	background-color: #AA2529;
}

.share.googleplus {
	background-color: #DB4437;
}

.share.reddit {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid black;
	border-radius: 5px;
}

.share.stumbleupon {
	background-color: #EB4823;
}

.share:hover {
	transform: scale(1.1);
}
