.share-block {
	position: fixed;
	left: 10px;
	white-space: nowrap;
	overflow: visible;
	
	@include mobile {
		position: initial;
		width: 90%;
		margin: 0 auto;
	}
}

.share {
	padding: 0 0.5em;
	width: 2.5em;
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	
	@include mobile {
		display: inline-block;
		width: 16%;
		padding: 0;
	}
}

.share:hover {
	width: 100%;
	
	@include mobile {
		width: 16%;
	}
}

.full-name {
	display: none;	
}

.share-block a:hover {
	.full-name {
		display: inline-block;
	}
}

.share.facebook {
	background-color: #3B5998;
}

.share.twitter {
	background-color: #1DA1F2;
}

.share.pinterest {
	background-color: #AA2529;
}

.share.reddit {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid black;
}

.share.mix {
	background-color: #FD8235;
	color: #FFFFFF;
}

.share:hover {
	transform: scale(1.1);
	
	@include mobile {
		transform: none;
	}
}
