table {
  color: black;
  text-shadow: none;
  
  thead {
    tr {
      background: linear-gradient(to bottom, #cccccc 0%,#c8c8c8 50%,#cccccc 100%);
    }
  }
  
  tbody  {
    tr:nth-child(even) {
      background: whitesmoke;
    }
    
    tr:nth-child(odd) {
      background: white;
    }
  }
  
  thead, tbody {
    th, td {
       padding: 1em 0.5em;
    }
  }
}
