table {
  border: 1px solid transparent;
  color: black;
  text-shadow: none;
  
  thead {
    tr {
      background: linear-gradient(to bottom, #cccccc 0%,#c8c8c8 50%,#cccccc 100%);
    }
    
    td {
      padding: 2px;
    }
  }
  
  tbody  {
    tr:nth-child(even) {
      background: #cccccc
    }
    
    tr:nth-child(odd) {
      background: #c8c8c8
    }
    
    td {
      padding: 2px;
      text-align: left;
    }
  }
}
