<form id="post-new-comment" class="new-comment" method="post" action="https://api.staticman.net/v2/entry/hendrixjoseph/puppy-snuggles
/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}">
  <input name="options[slug]" type="hidden" value="{{ include.slug }}">
  <label class="comment-body" for="comment">Comment (required)</label><textarea name="fields[msg]" id="comment" required="required" cols="45" rows="8" maxlength="65525" aria-required="true"></textarea>
  <label class="comment-author" for="name">Name (required)</label><input name="fields[name]" id="name" required="required" aria-required="true" type="text">
  <label class="comment-email" for="email">Email (required, always hashed, never used nor published)</label><input name="fields[email]" id="email" required="required" aria-required="true" type="email">
  <label class="comment-url" for="url">Website (optional)</label><input name="fields[url]" id="url" type="url">
  <button type="submit">Post comment</button>
  <em>Note that comments won't appear until approved.</em>
</form>
<div id="post-new-comment-submitting" style="display: none;"><img src="/images/ajax-loader.gif" style="display: inline;" /></div>
<div id="post-new-comment-thank-you" style="display: none;">Thank you. Your comment will be visable after approval.</div>
<script>
$('#post-new-comment').submit(function(e){
    e.preventDefault();
    var form = this;
	$(form).hide();
	$('#post-new-comment-submitting').show();

    $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        contentType: 'application/x-www-form-urlencoded',
        success: function (data) {
			$('#post-new-comment-submitting').hide();
			$('#post-new-comment-thank-you').show();
        },
        error: function (err) {
            console.log(err);
			$('#post-new-comment-submitting').hide();
			$('#post-new-comment-thank-you').show();
        }
    });
});
</script>
