<!DOCTYPE html>
<html lang="en-us">
  <head itemscope itemtype="http://schema.org/WebSite">
	<title itemprop='name'>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	{% include meta/meta.html %}
	{% include meta/opengraph.html %}
	{% include meta/twittercard.html %}
	<meta name="p:domain_verify" content="cf6d37065b804cce85a94cda40120ee1"/>
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
	<link rel="icon" href="/favicon.ico?" type="image/x-icon">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ site.url }}/css/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
	<script type="text/javascript" data-cfasync="false" src="//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js" data-shr-siteid="a1b7a8d8026c5e8baadbfd437905e0ea" async="async"></script>
	{% include facebook/pixel.html %}
  </head>
  <body>
  {% include facebook.html %}
  {% include analytics.html %}
  {% include header.html %}
	
  <section id="main-content">
  {{ content }}
  </section>	
	
  {% include footer.html %}
  {% include scroll-popup.html %}
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9f3e6fd9-f23f-4f8d-9b39-937fb11c51cb"></script>
  </body>
</html>
