<!DOCTYPE html>
<html lang="en-us">
  <head itemscope itemtype="http://schema.org/WebSite">
	<title itemprop='name'>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	{% include meta/meta.html %}
	{% include meta/opengraph.html %}
	{% include meta/twittercard.html %}
	<meta name="p:domain_verify" content="cf6d37065b804cce85a94cda40120ee1"/>
	<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
	<link rel="icon" href="/favicon.ico?" type="image/x-icon">
        {% if page.jquery %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>{% endif %}
	<link rel="stylesheet" href="{{ site.url }}/css/font-awesome/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/style.css" />
  </head>
  <body>
  {% include analytics.html %}
  <div id="container">
  <div class="inner">
  {% include header.html %}
	
  <section id="main-content">
  {{ content }}
  </section>	
	
  {% include footer.html %}
  </div>
  </div>
  </body>
</html>
