---
layout: bottom-ad
---

{% include facebook/view-content.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<link itemprop="mainEntityOfPage" href="{{ site.url }}{{ page.url }}" />
<span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<meta itemprop="url" content="{{ site.url }}/{{ page.image }}">
<meta itemprop="width" content="1200"><meta itemprop="height" content="630">
</span>
<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
<meta itemprop="url" content="{{ site.url }}/favicon.ico">
<meta itemprop="width" content="16"><meta itemprop="height" content="16">
</span><meta itemprop="name" content="{{ site.name }}">
</span>
{% include post-header.html %}
{% include share.html %}
<div class="post-body" itemprop="articleBody">
{% include affiliate-disclosure.html %}
{{ content }}
</div>
{% include comments.html %}
<div><script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=034be2ed-b5e7-4a0d-9060-70acfdcbe9ea"></script></div>
<div class="shareaholic-canvas" data-app="recommendations" data-app-id="27607091"></div>
</article>
